<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="es">
<head th:replace="html/includes/header :: headerFragment">
    <meta charset="UTF-8"></meta>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link  href="../../resources/uk/uk.css" rel="stylesheet"></link>
    <link  href="../../resources/jui/jui.min.css" rel="stylesheet"></link>
    <link  href="../../resources/pui/pui-1.0.css" rel="stylesheet"></link>
    <script src="../../resources/cke/ckeditor.js"></script>
</head>
<body class="body-front" id="blog-front">

	<header id="header-main" class="header-main">
    <div class="lang"><div id="en_flag"></div><div id="es_flag"></div></div>
    <div id="notify-cookies"></div>
	<div class="main">
		<a href="/" class="off-1 col-2"><div class="centered" id="logo"></div></a>
		<div class="col-8 content-flow">
			<form action="" class="col-8 field-container">
				<input class="p" type="search" name="searchbox-main" />
				<label class="h6" for="searchbox-main">Search</label>
			</form>
			<div class="col-4">
                
				
			</div>
		</div>
	</div>
    
</header>

	<main class="main">
		<aside class="row">
			<aside class="off-1 col-4">
				<div class="panel box1 shadow-box row">
					<a href="/en/shop">
						<button class="col-3 box2 button-pill-glass">Shop</button>
					</a>
					<a href="/en/">
						<button class="col-3 box2 button-pill-glass">Home</button>
					</a>
					<a href="/en/">
						<button class="col-3 box2 button-pill-glass">Portfolio</button>
					</a>
				</div>
			</aside>
			<div class="col-7 blog-banner"></div>
		</aside>

		<main id="search-content" class="off-1 col-8">
			<div class="scrollbar right"><div class="track"><div class="thumb"></div></div></div>
			<div class="viewport left">
				<div class="overview">
					<div>
						<div>    
    <div class="price-image">
        <a href="http://www.packtpub.com/create-dynamic-web-pages-using-jade/book">
        <img class="centered" src="//dgdsbygo8mp3h.cloudfront.net/sites/default/files/imagecache/productview_larger/6355OS_mockupcover_normal.jpg" alt="" />
        </a>
    </div>
    <div class="price-panel text-right flex-row flex-expand">
        <div class="flex-col flex-expand">
            <div class="flex-expand h4 text-left">Web Development with Jade</div>
            <div class="flex-row flex-expand">
                <div class="flex-col flex-expand">
                    <p> Offer: 
                            <span style="font-weight: bold;">save 15%!</span>
                            (<del>?10.99</del>)
                    </p>
                    <p>Format: <span class="h5 pdf-icon"></span></p>
                </div>
                <p><span class="h6">Price: </span><span class="h5">?9.34</span><span class="h5"> â?¬</span></p>
            </div>                      
        </div>                      
        <form action="" class="col-3">
            <input type="number" min="1" max="100" step="1" value="1" name="article-quant" />
            <button class="button-pill-glass">Add to Cart</button>
        </form>
    </div>
</div>
	      			</div>
					<div>
						<div>    
    <div class="price-image">
        <a href="http://www.packtpub.com/learning-web-development-with-bootstrap-and-angular/book">
        <img class="centered" src="//dgdsbygo8mp3h.cloudfront.net/sites/default/files/imagecache/productview_larger/7550OS_mockupcover_nor.jpg" alt="" />
        </a>
    </div>
    <div class="price-panel text-right flex-row flex-expand">
        <div class="flex-col flex-expand">
            <div class="flex-expand h4 text-left">Learning Web Development with Bootstrap and Angular: RAW</div>
            <div class="flex-row flex-expand">
                <div class="flex-col flex-expand">
                    <p> Offer: 
                            <span style="font-weight: bold;">save 20%!</span>
                            (<del>?24.99</del>)
                    </p>
                    <p>Format: <span class="h5 pdf-icon"></span></p>
                </div>
                <p><span class="h6">Price: </span><span class="h5">?19.99</span><span class="h5"> â?¬</span></p>
            </div>                      
        </div>                      
        <form action="" class="col-3">
            <input type="number" min="1" max="100" step="1" value="1" name="article-quant" />
            <button class="button-pill-glass">Add to Cart</button>
        </form>
    </div>
</div>
	      			</div>
					<div>
						<div>    
    <div class="price-image">
        <a href="http://www.packtpub.com/learning-kendo-ui-web-development/book">
        <img class="centered" src="//dgdsbygo8mp3h.cloudfront.net/sites/default/files/imagecache/productview_larger/4346OTcov.jpg" alt="" />
        </a>
    </div>
    <div class="price-panel text-right flex-row flex-expand">
        <div class="flex-col flex-expand">
            <div class="flex-expand h4 text-left">Learning Kendo UI Web Development</div>
            <div class="flex-row flex-expand">
                <div class="flex-col flex-expand">
                    <p> Offer: 
                            <span style="font-weight: bold;">save 15%!</span>
                            (<del>?20.99</del>)
                    </p>
                    <p>Format: <span class="h5 pdf-icon"></span></p>
                </div>
                <p><span class="h6">Price: </span><span class="h5">?17.84</span><span class="h5"> â?¬</span></p>
            </div>                      
        </div>                      
        <form action="" class="col-3">
            <input type="number" min="1" max="100" step="1" value="1" name="article-quant" />
            <button class="button-pill-glass">Add to Cart</button>
        </form>
    </div>
</div>
	      			</div>
					<div>
						<div>    
    <div class="price-image">
        <a href="http://www.packtpub.com/ruby-and-mongodb-web-development-beginners-guide/book">
        <img class="centered" src="//dgdsbygo8mp3h.cloudfront.net/sites/default/files/imagecache/productview_larger/5023OS_Ruby and MongoDB Web Development_cov.jpg" alt="" />
        </a>
    </div>
    <div class="price-panel text-right flex-row flex-expand">
        <div class="flex-col flex-expand">
            <div class="flex-expand h4 text-left">Ruby and MongoDB Web Development Beginner's Guide</div>
            <div class="flex-row flex-expand">
                <div class="flex-col flex-expand">
                    <p> Offer: 
                            <span style="font-weight: bold;">save 15%!</span>
                            (<del>?20.99</del>)
                    </p>
                    <p>Format: <span class="h5 pdf-icon"></span></p>
                </div>
                <p><span class="h6">Price: </span><span class="h5">?17.84</span><span class="h5"> â?¬</span></p>
            </div>                      
        </div>                      
        <form action="" class="col-3">
            <input type="number" min="1" max="100" step="1" value="1" name="article-quant" />
            <button class="button-pill-glass">Add to Cart</button>
        </form>
    </div>
</div>
	      			</div>
					<div>
						<div>    
    <div class="price-image">
        <a href="http://www.packtpub.com/easy-web-development-with-wavemaker/book">
        <img class="centered" src="//dgdsbygo8mp3h.cloudfront.net/sites/default/files/imagecache/productview_larger/1783OS_Easy Web Development with WaveMaker_0.jpg" alt="" />
        </a>
    </div>
    <div class="price-panel text-right flex-row flex-expand">
        <div class="flex-col flex-expand">
            <div class="flex-expand h4 text-left">Easy Web Development with WaveMaker</div>
            <div class="flex-row flex-expand">
                <div class="flex-col flex-expand">
                    <p> Offer: 
                            <span style="font-weight: bold;">save 20%!</span>
                            (<del>?20.99</del>)
                    </p>
                    <p>Format: <span class="h5 pdf-icon"></span></p>
                </div>
                <p><span class="h6">Price: </span><span class="h5">?16.79</span><span class="h5"> â?¬</span></p>
            </div>                      
        </div>                      
        <form action="" class="col-3">
            <input type="number" min="1" max="100" step="1" value="1" name="article-quant" />
            <button class="button-pill-glass">Add to Cart</button>
        </form>
    </div>
</div>
	      			</div>
					<div>
						<div>    
    <div class="price-image">
        <a href="http://www.packtpub.com/node-javascript-web-development/book">
        <img class="centered" src="//dgdsbygo8mp3h.cloudfront.net/sites/default/files/imagecache/productview_larger/5146OS_Node.js Beginners Guide.jpg" alt="" />
        </a>
    </div>
    <div class="price-panel text-right flex-row flex-expand">
        <div class="flex-col flex-expand">
            <div class="flex-expand h4 text-left">Node Web Development</div>
            <div class="flex-row flex-expand">
                <div class="flex-col flex-expand">
                    <p> Offer: 
                            <span style="font-weight: bold;">save 15%!</span>
                            (<del>?13.99</del>)
                    </p>
                    <p>Format: <span class="h5 pdf-icon"></span></p>
                </div>
                <p><span class="h6">Price: </span><span class="h5">?11.89</span><span class="h5"> â?¬</span></p>
            </div>                      
        </div>                      
        <form action="" class="col-3">
            <input type="number" min="1" max="100" step="1" value="1" name="article-quant" />
            <button class="button-pill-glass">Add to Cart</button>
        </form>
    </div>
</div>
	      			</div>
					<div>
						<div>    
    <div class="price-image">
        <a href="http://www.packtpub.com/seam-2x-web-development/book">
        <img class="centered" src="//dgdsbygo8mp3h.cloudfront.net/sites/default/files/imagecache/productview_larger/bookimages/5920_MockupCover.jpg" alt="" />
        </a>
    </div>
    <div class="price-panel text-right flex-row flex-expand">
        <div class="flex-col flex-expand">
            <div class="flex-expand h4 text-left">Seam 2.x Web Development</div>
            <div class="flex-row flex-expand">
                <div class="flex-col flex-expand">
                    <p> Offer: 
                            <span style="font-weight: bold;">save 25%!</span>
                            (<del>?18.99</del>)
                    </p>
                    <p>Format: <span class="h5 pdf-icon"></span></p>
                </div>
                <p><span class="h6">Price: </span><span class="h5">?14.24</span><span class="h5"> â?¬</span></p>
            </div>                      
        </div>                      
        <form action="" class="col-3">
            <input type="number" min="1" max="100" step="1" value="1" name="article-quant" />
            <button class="button-pill-glass">Add to Cart</button>
        </form>
    </div>
</div>
	      			</div>
					<div>
						<div>    
    <div class="price-image">
        <a href="http://www.packtpub.com/modx-web-development-second-edition/book">
        <img class="centered" src="//dgdsbygo8mp3h.cloudfront.net/sites/default/files/imagecache/productview_larger/3487OS_MODx Web Development Second Edition.jpg" alt="" />
        </a>
    </div>
    <div class="price-panel text-right flex-row flex-expand">
        <div class="flex-col flex-expand">
            <div class="flex-expand h4 text-left">MODx Web Development - Second Edition</div>
            <div class="flex-row flex-expand">
                <div class="flex-col flex-expand">
                    <p> Offer: 
                            <span style="font-weight: bold;">save 15%!</span>
                            (<del>?18.99</del>)
                    </p>
                    <p>Format: <span class="h5 pdf-icon"></span></p>
                </div>
                <p><span class="h6">Price: </span><span class="h5">?16.14</span><span class="h5"> â?¬</span></p>
            </div>                      
        </div>                      
        <form action="" class="col-3">
            <input type="number" min="1" max="100" step="1" value="1" name="article-quant" />
            <button class="button-pill-glass">Add to Cart</button>
        </form>
    </div>
</div>
	      			</div>
					<div>
						<div>    
    <div class="price-image">
        <a href="http://www.packtpub.com/couchdb-and-php-web-development-beginners-guide/book">
        <img class="centered" src="//dgdsbygo8mp3h.cloudfront.net/sites/default/files/imagecache/productview_larger/3586OS CouchDB and PHP web development.jpg" alt="" />
        </a>
    </div>
    <div class="price-panel text-right flex-row flex-expand">
        <div class="flex-col flex-expand">
            <div class="flex-expand h4 text-left">CouchDB and PHP Web Development Beginner's Guide</div>
            <div class="flex-row flex-expand">
                <div class="flex-col flex-expand">
                    <p> Offer: 
                            <span style="font-weight: bold;">save 15%!</span>
                            (<del>?20.99</del>)
                    </p>
                    <p>Format: <span class="h5 pdf-icon"></span></p>
                </div>
                <p><span class="h6">Price: </span><span class="h5">?17.84</span><span class="h5"> â?¬</span></p>
            </div>                      
        </div>                      
        <form action="" class="col-3">
            <input type="number" min="1" max="100" step="1" value="1" name="article-quant" />
            <button class="button-pill-glass">Add to Cart</button>
        </form>
    </div>
</div>
	      			</div>
					<div>
						<div>    
    <div class="price-image">
        <a href="http://www.packtpub.com/flask-web-development/book">
        <img class="centered" src="//dgdsbygo8mp3h.cloudfront.net/sites/default/files/imagecache/productview_larger/9628OS_Flask Web Development_cov_0.jpg" alt="" />
        </a>
    </div>
    <div class="price-panel text-right flex-row flex-expand">
        <div class="flex-col flex-expand">
            <div class="flex-expand h4 text-left">Instant Flask Web Development [Instant]</div>
            <div class="flex-row flex-expand">
                <div class="flex-col flex-expand">
                    <p> Offer: 
                            <span style="font-weight: bold;">save 15%!</span>
                            (<del>?10.99</del>)
                    </p>
                    <p>Format: <span class="h5 pdf-icon"></span></p>
                </div>
                <p><span class="h6">Price: </span><span class="h5">?9.34</span><span class="h5"> â?¬</span></p>
            </div>                      
        </div>                      
        <form action="" class="col-3">
            <input type="number" min="1" max="100" step="1" value="1" name="article-quant" />
            <button class="button-pill-glass">Add to Cart</button>
        </form>
    </div>
</div>
	      			</div>
					<div>
						<div>    
    <div class="price-image">
        <a href="http://www.packtpub.com/nancy-web-development/book">
        <img class="centered" src="//dgdsbygo8mp3h.cloudfront.net/sites/default/files/imagecache/productview_larger/3910OS_0.jpg" alt="" />
        </a>
    </div>
    <div class="price-panel text-right flex-row flex-expand">
        <div class="flex-col flex-expand">
            <div class="flex-expand h4 text-left">Instant Nancy Web Development [Instant]</div>
            <div class="flex-row flex-expand">
                <div class="flex-col flex-expand">
                    <p> Offer: 
                            <span style="font-weight: bold;">save 15%!</span>
                            (<del>?9.99</del>)
                    </p>
                    <p>Format: <span class="h5 pdf-icon"></span></p>
                </div>
                <p><span class="h6">Price: </span><span class="h5">?8.49</span><span class="h5"> â?¬</span></p>
            </div>                      
        </div>                      
        <form action="" class="col-3">
            <input type="number" min="1" max="100" step="1" value="1" name="article-quant" />
            <button class="button-pill-glass">Add to Cart</button>
        </form>
    </div>
</div>
	      			</div>
					<div>
						<div>    
    <div class="price-image">
        <a href="http://www.packtpub.com/modx-web-development/book">
        <img class="centered" src="//dgdsbygo8mp3h.cloudfront.net/sites/default/files/imagecache/productview_larger/bookimages/1847194907.jpg" alt="" />
        </a>
    </div>
    <div class="price-panel text-right flex-row flex-expand">
        <div class="flex-col flex-expand">
            <div class="flex-expand h4 text-left">MODx Web Development</div>
            <div class="flex-row flex-expand">
                <div class="flex-col flex-expand">
                    <p> Offer: 
                            <span style="font-weight: bold;">save 15%!</span>
                            (<del>?18.99</del>)
                    </p>
                    <p>Format: <span class="h5 pdf-icon"></span></p>
                </div>
                <p><span class="h6">Price: </span><span class="h5">?16.14</span><span class="h5"> â?¬</span></p>
            </div>                      
        </div>                      
        <form action="" class="col-3">
            <input type="number" min="1" max="100" step="1" value="1" name="article-quant" />
            <button class="button-pill-glass">Add to Cart</button>
        </form>
    </div>
</div>
	      			</div>
				</div>
			</div>
		</main>

		<aside class="col-2" style="width: 20% !important">		

			<aside id="cart-controller" class="cart-controller">
				<div class="flex-row">
					<!-- <span class="button-pill-glass checkout cart-empty-icon"> - CHECKOUT</span> -->
					<form action="" method="POST">
					  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_test_LSfws1uyFEXFAh9HgaaMYF04" data-amount="3700" data-name="CHECKOUT" data-description="My Book" data-image="/128x128.png">
					  </script>
					</form>
					<span class="button-pill-glass remove x-icon"></span>		
				</div>
				<div id="cart" class="cart">
					<div class="scrollbar right"><div class="track"><div class="thumb"></div></div></div>
					<div class="viewport left">
						<div class="overview">
							<table id="cart-body" class="flex-col"></table>
						</div>
					</div>
				</div>
			</aside>

			<nav id="shop-tree" class="row tree" style="width: 100% !important"></nav>
				
		</aside>
	</main>

	<footer class="footer">
	    <div class="h6 link-list">
	        <a href="/">FAQ</a>
	        <a href="/">Contact Us</a>
	        <a href="/">About Us</a>
	        <a href="/">Recommended Links</a>
	        <a href="/">Our Address</a>
	    </div>
	</footer>

    <div th:replace="html/includes/header :: footerFragment">
        <script src="..\..\main\webapp\WEB-INF\views\resources\jui\jui.min.js"></script>
        <script src="..\..\main\webapp\WEB-INF\views\resources\pui\pui-1.0.js"></script>
        <script src="..\..\main\webapp\WEB-INF\views\resources\bb\underscore-min.js"></script>
        <script src="..\..\main\webapp\WEB-INF\views\resources\bb\backbone-min.js"></script>
        <script src="..\..\main\webapp\WEB-INF\views\resources\uk\uk.js"></script>
        <script src="..\..\main\webapp\WEB-INF\views\resources\uk\uk-blog.js"></script>
        <script src="..\..\main\webapp\WEB-INF\views\resources\uk\uk-shop.js"></script>
    </div>

</body>
</html>